*{
	padding: 0;
	margin: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*head开始*/
.head{
	height: 153px;
	background: url(../images/hbg.png) no-repeat center center;
}
.midder{
	width: 1200px;
	height: 153px;
	margin: 0 auto;
	overflow: hidden;
}
.upperleft{
	height: 25px;
	width: 1200px;
	margin-top: 55px;
}
.phone{
	font-size: 20px;
	color: #0b4199;
}
.chinese,.register{
	font-size: 14px;
	color: #7d7d7d;
}
.language{
	font-size: 16px;
	color: #ef2c34;
}
.phone{
	margin-left: 740px;
}
.chinese{
	margin-left: 27px;

}
.language{
	margin-left: 19px;

}
.menu li{
	float:left;
	height: 33px;
	width: 82px;
	text-align: center;
	margin-right: 39px;
	padding-top: 17px;
}

.menu li:first-child{
	padding-left: 5px;
	text-align: left;
	margin-right: 40px;
	width: 37px;

}
.menu li:first-child a{
	text-align: left;	
	width: 42px;
}
.menu .hide{
	
}
.menu li:hover{
	background: #2756a4;
	color: #ffffff;
    display: block;
}
.menu li:hover a{
	color: #ffffff;
}
.menu li a{
    display: block;
    height: 33px;
	width: 82px;
	text-align: center;
	color: #434343;
	font-size: 16px;
}
.menu{
	height: 50px;
	margin-top: 25px;

}
.menu input{
	width: 254px;
	height: 36px;
	font-size: 15px;
	background: url(../images/search.png) no-repeat center right;
	border: none;
	margin-left: 15px;
}
.rightinput{
    padding-top: 4px;
}

/*head结束*/
.body{
	width: 100%;
	height: 2473px; 
	background-color: #f9f9f9;
}
.distent{
	width: 1200px;
	height: 2px;
	background-color: #f9f9f9;
}
.page1{
	width: 1200px; 
	height: 2120px;
	background-color: #fff;
	margin-top: 4px;
	margin: 0 auto;
}
.part1{
	width: 1200px;
	height: 165px;
	border-bottom: 1px dotted #cfcfcf;
}
.part1 p{
	font-size: 14px;
	color: #adadad;
	margin-top: 20px;
}
.part1 h1{
	font-size: 24px;
	color: #3e3e3e;
	margin-top: 70px;
}
.part1 li{
	float: right;
}
.part2{
	width: 1200px;
	height: 630px;
	border-bottom: 4px solid #949494;
}
.head4{
	width: 1200px;
	height: 40px;
	background: url(../images/head4.png) no-repeat center;
	margin-top: 55px;
}
.head4 li{
	float: left;
	margin-left: 60px;
	margin-top: 4px;
	font-size: 14px;
	color: #fff;
}
.tu{
	width: 1140px;
	height: 400px;
}
.im1{
	position: absolute;
	top: 680px;
	left:200px; 
}
.im2{
	position: absolute;
	top: 470px;
	left:300px; 
}
.im3{
	position: absolute;
	top: 680px;
	left:820px; 
}
.wen{
	width: 436px;
	height: 400px;
	float: right;
	margin-top: 55px;
}
.wen h1{
	font-size: 24px;
	margin-bottom: 30px;
}
.wen p{
	font-size: 14px;
	line-height: 30px;
}
.wen .p2{
	width: 230px;
	height: 55px;
	background: url(../images/lank.png) ;
	text-align: center;
	margin-top: 50px;
	float: right;
}
.p2 p{
	margin-top: 10px;
	font-size: 16px;
	color: #fff;
}
.part3{
	width: 1200px;
	height: 520px;
	border-bottom: 4px solid #949494;
}
.gongn{
	width: 1140px;
	height: 520px;
	margin:0 auto;
}
.gongn h1{
	font-size: 22px;
	color: #2756a4;
	margin-top: 30px;
	margin-bottom: 20px;
}
.gongn h2{
	font-size: 16px;
	margin-top: 43px;
}
.gongn .p2{
	font-size: 16px;
	margin-top: 15px;
}
.gongn .img1{
	float: right;
	margin-right: 100px;
	margin-top: 30px;
}
.gongn .img2{
	margin-top: 270px;
	margin-left: 520px;
}
.part4{
	width: 1200px;
	height: 332px;
	border-bottom: 4px solid #949494;
}
.dianx{
	width: 1140px;
	height: 332px;
	margin:0 auto;
}
.dianx h1{
	font-size: 22px;
	color: #2756a4;
	margin-top: 30px;
	margin-bottom: 50px;
}
.dianx li{
	list-style: disc;
	margin-left: 30px;
	line-height: 30px;
}
.dianx img{
	margin-top: 95px;
	margin-left: 520px;
}
.xiangg{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 64px;
}
.xiangg h1{
	font-size: 22px;
	margin-bottom: 20px;
}
.xiangg li{
	width: 300px;
	height: 200px;
	border: 2px solid #c9c9c9;
	text-align: center;
	float: left;
}
.xiangg img{
	margin-top: 25px;
}

.page2{
	width: 1200px;
	height: 500px;
	background-color: #f2f2f2;
	margin: 0 auto;
	margin-bottom: 94px;
}
.rightfour{
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	position: fixed;
	right: 94px;
	top: 155px;
	width: 80px;
	height: 308px;
	background: url(../images/bgrightfour.png);
}
.rightfour li{
	margin-bottom: 15px;
}
.rightfour li:last-child{
	font-size: 12px;
	margin-top: 55px;
	color: #7f7f7f;
}






/*tail开始*/
.tail{
	height: 364px;
	background: #454545;	
}
.topblue{
	height: 60px;
	width: 100%;
	background: #0b4199;
}
.toptext{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 0px;
}
.toptext li{
	float: left;
	height: 60px;

}
.toptext li img{
	margin-top: 15px;
}
.toptext li:first-child{
	margin-right: 162px;
}
.toptext li:last-child{
	margin-left: 490px;
}
.bottomgray{
	width: 1184px;
	margin: 0 auto;
	height: 320px;
	padding-top: 55px;
	padding-left: 16px;
}
.bottomleft{
	width: 775px;
	height: 180px;
	border-right: 1px solid #525252;
	float: left;
	margin-bottom: 20px;
}
.bottomleft ul{
	float: left;
	width: 155px;
	text-align: left;
	font-size: 14px;
	color: #ffffff;
}
.bottomleft ul:first-child{
	width: 150px;
}
.bottomleft ul li:first-child{
	font-size: 16px;
	margin-bottom: 25px;
	margin-top: 20px;
}
.bottomleft ul li{
	margin-bottom: 3px;
}
.bottomright{
	width: 330px;
	height: 198px;
	float: left;
	margin-left: 20px;
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 20px;
}
.bottomright img{
	margin-bottom: 25px;
	margin-right: 180px;

}
.qingdao{
	font-size: 14px;
	margin-right: 50px;
}
.bmail{
	margin-left: 95px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.lastbottom span{
	height: 26px;
	width: 1200px;
	margin-top: 10px;
	font-size: 12px;
	color: #ffffff;
}
.laone{
	margin-left: 25px;
	margin-right: 260px;
}
.lathree{
	margin-left: 75px;
}

/*tail结束*/
