*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*head开始*/
.head{
	height: 153px;
	background: url(../images/hbg.png) no-repeat center center;
}
.midder{
	width: 1200px;
	height: 153px;
	margin: 0 auto;
	overflow: hidden;
}
.upperleft{
	height: 25px;
	width: 1200px;
	margin-top: 55px;
}
.phone{
	font-size: 20px;
	color: #0b4199;
}
.chinese,.register{
	font-size: 14px;
	color: #7d7d7d;
}
.language{
	font-size: 16px;
	color: #ef2c34;
}
.phone{
	margin-left: 740px;
}
.chinese{
	margin-left: 27px;

}
.language{
	margin-left: 19px;

}
.menu li{
	float:left;
	height: 33px;
	width: 82px;
	text-align: center;
	margin-right: 39px;
	padding-top: 17px;
}

.menu li:first-child{
	padding-left: 5px;
	text-align: left;
	margin-right: 40px;
	width: 37px;

}
.menu li:first-child a{
	text-align: left;	
	width: 42px;
}
.menu .hide{
	
}
.menu li:hover{
	background: #2756a4;
	color: #ffffff;
    display: block;
}
.menu li:hover a{
	color: #ffffff;
}
.menu li a{
    display: block;
    height: 33px;
	width: 82px;
	text-align: center;
	color: #434343;
	font-size: 16px;
}
.menu{
	height: 50px;
	margin-top: 25px;

}
.menu input{
	width: 254px;
	height: 36px;
	font-size: 15px;
	background: url(../images/search.png) no-repeat center right;
	border: none;
	margin-left: 15px;
}
.rightinput{
    padding-top: 4px;
}
/*head结束*/
/*subject1开始*/
.subject1{
	width:100%;
	height:1330px;
	background-color: #f9f9f9; 
}
.fly{
	position: fixed;
	right: 0px;
	top: 140px;
	width: 81px;
	height: 310px;
	background: url(../images/ldq7_03.png);
}
.a,.b,.c{
	font-size: 14px;
	width: 81px;
	height: 81px;
	text-align: center;
}
.fly li img{
	margin-top: 10px;
	margin-bottom: 0px;
}
.fly li p{
	color:white;
}
.fly .d{
	width: 81px;
	line-height: 15px;
	font-size: 10px;
}
.fly .d p{
	padding-top: 50px;
}
.part1{
	width: 1200px;
	height:1330px;
	margin: 0 auto;
	background-color: #f9f9f9;
	margin-top: 20px;
	position: relative;
}
.part1 i{
	display: block;
	position: absolute;
	top: 140px;
	width: 84px;
	height: 310px;
	right: -120px;
	background: url(../images/ldq6_03.png);
}
.part1 a{
	color: #999;
}
.part1 .four{
	color: #2756a4;
}
.part1 h2{
	margin-top: 66px;
	margin-bottom: 10px;
	color: #3e3e3e;
}
.part1 p{
	margin-bottom: 53px;
	color: #666;
}
hr{
	border-top:1px dotted #185598;
	margin-top: 22px;
	margin-bottom: 33px;
}
.part1 .inside{
	width: 1200px;
	height:980px;
	background-color: #fff;
}
.inside img{
	float:left;
}
.inside .one{
	margin-left:12px; 
	margin-top: 30px;
}
.inside .two{
	margin-right: 36px;
	margin-top: 30px;
}
.inside .three{
	margin-top: 30px;
}
.inside .four{
	margin-right: 12px;
	margin-top: 30px;
}
.inside .five{
	margin-left:12px;
	margin-top: 64px;
}
/*subject1结束*/
/*tail开始*/
.tail{
	height: 364px;
	background: #454545;	
}
.topblue{
	height: 60px;
	width: 100%;
	background: #0b4199;
}
.toptext{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.toptext li{
	float: left;
	height: 60px;

}
.toptext li img{
	margin-top: 15px;
}
.toptext li:first-child{
	margin-right: 162px;
}
.toptext li:last-child{
	margin-left: 490px;
}
.bottomgray{
	width: 1184px;
	margin: 0 auto;
	height: 320px;
	padding-top: 55px;
	padding-left: 16px;
}
.bottomleft{
	width: 775px;
	height: 180px;
	border-right: 1px solid #525252;
	float: left;
	margin-bottom: 20px;
}
.bottomleft ul{
	float: left;
	width: 155px;
	text-align: left;
	font-size: 14px;
	color: #ffffff;
}
.bottomleft ul:first-child{
	width: 150px;
}
.bottomleft ul li:first-child{
	font-size: 16px;
	margin-bottom: 25px;
	margin-top: 20px;
}
.bottomleft ul li{
	margin-bottom: 3px;
}
.bottomright{
	width: 330px;
	height: 198px;
	float: left;
	margin-left: 20px;
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 20px;
}
.bottomright img{
	margin-bottom: 25px;
	margin-right: 180px;

}
.qingdao{
	font-size: 14px;
	margin-right: 50px;
}
.bmail{
	margin-left: 95px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.lastbottom span{
	height: 26px;
	width: 1200px;
	margin-top: 10px;
	font-size: 12px;
	color: #ffffff;
}
.laone{
	margin-left: 25px;
	margin-right: 260px;
}
.lathree{
	margin-left: 75px;
}
/*tail结束*/
